* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    text-align: center;
}
div{
    margin: 25px;
}

#stem{
    animation: stem-grow 5s ease-in-out infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
#left-leaf{
    animation: leaf-grow 5s ease-in-out infinite;
    transform-origin: bottom right;
    transform-box: fill-box;
}
#right-leaf{
    animation: leaf-grow 5s ease-in-out infinite;
    transform-origin: bottom left;
    transform-box: fill-box;
}

@keyframes stem-grow{
    0%{
        transform: scale(0, 0);
    }
    50%{
        transform: scale(1 ,1);
    }
}
@keyframes leaf-grow{
    0%{
        transform: scale(0, 0);
    }
    35%{
        transform: scale(0, 0);
    }
    75%{
        transform: scale(1, 1);
    }
}