@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Permanent+Marker&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;

  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color:rgb(163,211,238);
}
/* need to add this into the code for the clouds animation
*/
.background{
  width:100vw;
  position: absolute;
  z-index: 0;
  box-sizing: border-box;
  text-align: center;
}
.garden{
  width:100vw;
}
.app{
  display: flex;
  justify-content: center;
}

.main {
  position:absolute;
  border: 15px solid black;
  border-radius: 15px;
  width:25vw;
  z-index: 1;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: -webkit-linear-gradient(45deg,#d08372,#b3586b,#57a0d6,#438028,#ffcf00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(45deg, #D08372, #B3586B, #57A0D6,#438028,#FFCF00);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}

.header {
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.backButton{
  position:fixed;
  top:20px;
  left:50px;
}

.quiz {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#5AA2D7, #9fbdd3, #FFCF00);
}

.results {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#377B18, #8CB281, #8CB281, #FFCF00);
  padding:20px;
}

.resultsButton {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:20px;
}

.loading {
  width:100vw;
  height:1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#57A0D6, #C5E6ED, #BEE0B5, #377B18);
}

.questionCont {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:70%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Bebas Neue', cursive;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button:focus, input:focus { outline: none; }

button:hover{
  color:black;
  border-color:black;
}


.BeeBadge{
  color:#FFB101;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  width: 40px;
  height: 40px;
  z-index:2;
}

.BlankBox {
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:80%;
  border-radius:15px;
  border:3px solid white;
  background-color:rgba(255, 255, 255, 0.1);
  padding:20px;
  margin:30px;
}

.infoContent {
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ButtonCont{
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top:20px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* clock animation */
#hours {
  animation: hour 20s infinite linear;
  transform-box: fill-box;
}
#minutes{
  animation: minute 1.5s infinite linear;
  transform-origin: 80% 100%;
  transform-box: fill-box;
}

@keyframes hour{
  from{
      transform: rotateZ(0deg);
  }
  to{
      transform: rotateZ(360deg);
  }
}
@keyframes minute{
  from{
      transform: rotateZ(0deg);
  }
  to{
      transform: rotateZ(360deg);
  }
}

/* map animation */
#temperate {
  animation: temp-glow 1s ease-in-out infinite alternate
}
#arid {
  animation: arid-glow 1.5s ease-in-out infinite alternate;
}
#tropical {
  animation: trop-glow 1.2s ease-in-out infinite alternate;
}

@keyframes temp-glow{
  from{
      filter: drop-shadow(0 0 1px rgba(255, 88, 99, 1));
  }
  to{
      filter: drop-shadow(0 0 8px rgba(255, 88, 99, 1));
  }
}
@keyframes arid-glow{
  from{
      filter: drop-shadow(0 0 1px rgba(54, 138, 15, 1));
  }
  to{
      filter: drop-shadow(0 0 8px rgba(54, 138, 15, 1));
  }
}
@keyframes trop-glow{
  from{
      filter: drop-shadow(0 0 1px rgba(255, 224, 50, 1));
  }
  to{
      filter: drop-shadow(0 0 8px rgba(255, 224, 50, 1));
  }
}

/* plant growing animation */
#stem{
  animation: stem-grow 5s ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#left-leaf{
  animation: leaf-grow 5s ease-in-out infinite;
  transform-origin: bottom right;
  transform-box: fill-box;
}
#right-leaf{
  animation: leaf-grow 5s ease-in-out infinite;
  transform-origin: bottom left;
  transform-box: fill-box;
}

@keyframes stem-grow{
  0%{
      transform: scale(0, 0);
  }
  50%{
      transform: scale(1 ,1);
  }
}
@keyframes leaf-grow{
  0%{
      transform: scale(0, 0);
  }
  35%{
      transform: scale(0, 0);
  }
  75%{
      transform: scale(1, 1);
  }
}


#big-wheel{
  animation: turn-wheel 2s infinite linear;
  transform-origin: 48.5% 65%;
  transform-box: fill-box;
}
#wheel{
  animation: turn-wheel 4s infinite linear;
  transform-origin: 48.5% 65%;
  transform-box: fill-box;
}
#cloud{
  animation: move-cloud 10s infinite linear;
}
#cloud2{
  animation: move-cloud2 15s infinite linear;
}

@keyframes turn-wheel{
  from{
      transform: rotateZ(0deg);
  }
  to{
      transform: rotateZ(360deg);
  }
}
@keyframes move-cloud{
  from{
      transform: translateX(-900px)
  }
  to{
      transform: translateX(1400px)
  }
}
@keyframes move-cloud2{
  from{
      transform: translateX(-1400px)
  }
  to{
      transform: translateX(1400px)
  }
}

/* bouquet animation */
#bouquet{
  max-height: 350px;
}
#rose-center{
  animation: swing 5s ease-in-out infinite;
  transform-origin: bottom;
}
#rose-bottom, #rose-right{
  animation: move 5s ease-in-out infinite;
  transform-origin: bottom;
}
#rose-left{
  animation: move 7s ease-in-out infinite;
  transform-origin: bottom;
}
#rose-top{
  animation: swing 7s ease-in-out infinite;
  transform-origin: bottom;
}
@keyframes swing{
  0%{
      transform: rotateZ(-3deg);
  }
  50%{
      transform: rotateZ(1deg);
  }
  100%{
      transform: rotateZ(-3deg);
  }
}


@keyframes move{
  0%{
      transform: rotateZ(-1deg);
  }
  50%{
      transform: rotateZ(1deg);
  }
  100%{
      transform: rotateZ(-1deg);
  }
}

/* ecology animation */
#ecology{
  width: 650px;
  height: auto;
  margin-bottom: 15px;
}
#big-wheel{
  animation: turn-wheel 2s infinite linear;
  transform-origin: 48.5% 65%;
  transform-box: fill-box;
}
#wheel{
  animation: turn-wheel 4s infinite linear;
  transform-origin: 48.5% 65%;
  transform-box: fill-box;
}
#cloud{
  animation: move-cloud 10s infinite linear;
}
#cloud2{
  animation: move-cloud2 15s infinite linear;
}

@keyframes turn-wheel{
  from{
      transform: rotateZ(0deg);
  }
  to{
      transform: rotateZ(360deg);
  }
}
@keyframes move-cloud{
  from{
      transform: translateX(-900px)
  }
  to{
      transform: translateX(1400px)
  }
}
@keyframes move-cloud2{
  from{
      transform: translateX(-1400px)
  }
  to{
      transform: translateX(1400px)
  }
}

/* clouds animation */
.clouds{
  z-index:0;
}
.cloud1.big {
  position:absolute;
  margin-top:100px;
  width:500px;
  height:auto;
  animation: cloud-clear 18s linear infinite;
}
.cloud1.med {
  position:absolute;
  margin-top:325px;
  width:350px;
  height:auto;
  animation: cloud-opaque 38s linear infinite;
}
.cloud1.small{
  position:absolute;
  margin-top:800px;
  width:200px;
  height:auto;
  animation: cloud-semi 35s linear infinite;
}

.cloud2.big{
  position:absolute;
  margin-top:750px;
  width:400px;
  height:auto;
  animation: cloud-semi 20s linear infinite;
}
.cloud2.med{
  position:absolute;
  margin-top:425px;
  width:225px;
  height:auto;
  animation: cloud-clear 12s linear infinite;
}
.cloud2.small{
  position:absolute;
  margin-top:250px;
  width:150px;
  height:auto;
  animation: cloud-opaque 32s linear infinite;
}

.cloud3.big{
  position:absolute;
  margin-top:150px;
  width:425px;
  height:auto;
  animation: cloud-opaque 40s linear infinite;
}
.cloud3.med{
  position:absolute;
  margin-top:650px;
  width:200px;
  height:auto;
  animation: cloud-semi 25s linear infinite;
}
.cloud3.small{
  position:absolute;
  margin-top:500px;
  width:125px;
  height:auto;
  animation: cloud-clear 15s linear infinite;
}


@keyframes cloud-opaque{
  0%{
      transform: translateX(1100px);
      opacity:0;
  }
  20%{
      opacity:1;
  }
  80%{
      opacity:1;
  }
  100%{
      transform: translateX(-1100px);
      opacity:0;
  }
}
@keyframes cloud-semi{
  0%{
      transform: translateX(950px);
      opacity:0;
  }
  15%{
      opacity:0.75;
  }
  85%{
      opacity:0.75;
  }
  100%{
      transform: translateX(-750px);
      opacity:0;
  }
}
@keyframes cloud-clear{
  0%{
      transform: translateX(-250px);
      opacity:0;
  }
  10%{
      opacity:0.5;
  }
  90%{
      opacity:0.5;
  }
  100%{
      transform: translateX(-1050px);
      opacity:0;
  }
}
