* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    text-align: center;
}
div {
    margin: 25px;
}
svg{
    overflow: visible;
}

#rose-center{
    animation: swing 5s ease-in-out infinite;
    transform-origin: bottom;
}
#rose-bottom, #rose-right{
    animation: move 5s ease-in-out infinite;
    transform-origin: bottom;
}
#rose-left{
    animation: move 7s ease-in-out infinite;
    transform-origin: bottom;
}
#rose-top{
    animation: swing 7s ease-in-out infinite;
    transform-origin: bottom;
}
@keyframes swing{
    0%{
        transform: rotateZ(-3deg);
    }
    50%{
        transform: rotateZ(1deg);
    }
    100%{
        transform: rotateZ(-3deg);
    }
}

@keyframes move{
    0%{
        transform: rotateZ(-1deg);
    }
    50%{
        transform: rotateZ(1deg);
    }
    100%{
        transform: rotateZ(-1deg);
    }
}
